@model Repay

<h2>Платеж по кредиту</h2>
<link rel="stylesheet" href="~/css/Trans.css" asp-append-version="true" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        @Html.HiddenFor(model => model.SourceCreditId)

        <div class="form-group">
            @Html.LabelFor(model => model.DestinationAccountId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DestinationAccountId, Model.ClientAccounts, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DestinationAccountId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<a href="javascript:history.back()">Назад</a>